:host {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.auth-form-field {
  min-width: 400px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.divider {
  width: 100%;
  display: flex;
  text-align: center;
  gap: 8px;

  &__line {
    position: relative;
    flex: 1;
    top: 10px;
    height: 1px;
    background-color: white;
  }
}