<tui-block-status [card]="true" class="card">
  <button tuiIconButton type="button" class="delete-button"
    [icon]="isSubMenuOpen ? 'tuiIconCornerLeftDown' : 'tuiIconMoreHorizontalLarge'" appearance="outline"
    (click)="toggleSubMenu()">
  </button>
  <div *ngIf="isSubMenuOpen" class="sub-menu">
    <button tuiButton appearance="outline" (click)="editRecipe()">
      Edit
    </button>
    <button tuiButton appearance="accent" (click)="deleteRecipe()">
      Delete
    </button>
  </div>
  <div class="tui-text_h3" style="margin-bottom: 2rem">
    {{recipe()?.title}}
  </div>
  <div>
    @if (recipe()?.carbs != null) { carbs: {{ recipe()?.carbs }}g / }
    @if (recipe()?.protein != null) { protein: {{ recipe()?.protein }}g / }
    @if (recipe()?.fat != null) { fat: {{ recipe()?.fat }}g }
  </div>
  <div>
    @if (recipe()?.calories != null) { calories: {{ recipe()?.calories }}kcal }
  </div>
  <tui-expand [expanded]="true" class="expandable">
    <tui-scrollbar class="card_content">
      <div *ngFor="let ingredient of recipe()?.ingredients">
        <div class="d-fx ai-c gap-5">
          <span>{{ingredient.name}}</span>
          <span>{{ingredient.measurementValue}}</span>
          <span>{{ingredient.measurementName.label}}</span>
        </div>
      </div>
    </tui-scrollbar>
  </tui-expand>
  <button tuiButton type="button" appearance="outline" style="position: absolute; height: 20px; bottom: 20px;"
    (click)="showRecipeDescription()">
    Show recipe
  </button>
</tui-block-status>