@import "../../assets/styles/variables";

.cabinet {
  padding: $space-24 0;
  min-height: calc(100vh - 148px);
}

.cabinet__title {
  margin: 0 0 $space-16 0;
  color: var(--tui-text-01-night);
}

.cabinet__toolbar {
  margin-bottom: $space-16;
}
