@import "../assets/styles/variables";

.header {
  background-image: $gradient-bg-dark;
  height: 100px;
  width: 100%;
  display: flex;
  padding: 20px 40px;
  box-sizing: border-box;
  gap: 20px;
  align-items: center;

  & * {
    color: var(--tui-text-01-night);
  }
}

.content {
  background-image: $gradient-bg-dark-2;
  width: 100%;
  min-height: calc(100vh - 100px);
  position: absolute;
}

.icon {
  width: 6rem;
  height: 6rem;
}

.user-name {
  margin-right: 0.75rem;
}
