@import "../assets/styles/variables";

.header {
  background: $gradient-bg-dark;
  min-height: 100px;
  width: 100%;
  display: flex;
  padding: $space-16 $space-24;
  box-sizing: border-box;
  gap: $space-20;
  align-items: center;
  position: relative;
  z-index: 101;

  & * {
    color: var(--tui-text-01-night);
  }
}

.content {
  background: $gradient-bg-dark-2;
  width: 100%;
  min-height: calc(100vh - 128px);
  position: absolute;
  display: flex;
  justify-content: center;
}

.content__inner {
  width: 100%;
  max-width: 1320px;
  padding: 0 $space-24;
  box-sizing: border-box;
}

.icon {
  width: 6rem;
  height: 6rem;
}

.header-icon {
  width: 52px;
  height: 64px;
  overflow: visible;
}

.user-name {
  margin-right: $space-12;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: 480px) {
    display: none;
  }
}
