<tui-theme-night></tui-theme-night>
<tui-root tuiMode="onDark">
  <div class="header tui-text_h1 flex-row jc-sb">
    <tui-svg src="assets/icons/svg/logo/logo-white-on-transparent-background.svg" class="icon"></tui-svg>
    <button tuiHintContent="Log Out" tuiHintDirection="bottom" appearance="flat" tuiButton type="button"
      *ngIf="hasToken()" (click)="logOut()">
      <span class="user-name" *ngIf="profile()">{{ profile()!.name }} {{ profile()!.surname }}</span>
      <tui-svg src="tuiIconLogOutLarge"></tui-svg>
    </button>
  </div>

  <div class="content">
    
    <router-outlet></router-outlet>
  </div>
</tui-root>