<div class="container">
  <tui-primitive-textfield class="filter">
    <label tuiLabel>Filter recipes by name</label>
    <input tuiTextfield [formControl]="filterControl" />
  </tui-primitive-textfield>
  <app-recipe-card *ngFor="let recipe of recipes$ | async; trackBy: identify" [recipe]="recipe" @tuiFadeIn>
  </app-recipe-card>
  <button tuiAction type="button" class="button" routerLink="new">
    <tui-svg [src]="'tuiIconPlusSquareLarge'"></tui-svg>
  </button>
  <router-outlet></router-outlet>
  @if(!recipesReceived()) {
    <div class="loading-overlay">
      <app-animated-logo-icon class="loading-overlay__logo" [width]="80" [height]="98" [idle]="true"></app-animated-logo-icon>
    </div>
  }

</div>