.add-row-button {
  margin-left: 10px;
  width: calc(100% - 20px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nutrition-row {
  ::ng-deep .tui-textfield {
    min-height: 32px;
  }
}
